{
  "presets": ["env", "react"],
  "plugins": [
    "emotion",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "assets": "./src/assets",
        "components": "./src/components"
      }
    }]
  ]
}