{
  "presets": ["env", "react"],
  "plugins": [
    "emotion",
    ["module-resolver", {
      "alias": {
        "assets": "./src/assets",
        "components": "./src/components"
      },
      "extensions": [".js"]
    }]
  ]
}